<%= form_with(model: departamento, local: true) do |form| %>
  <% if departamento.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% departamento.errors.full_messages.each do |message| %>
          <div class="alert alert-danger" role="alert"><%= message %></div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :nome %>
        <%= form.text_field :nome %>
      </div>
    </div>  
  </div>  

  <div class="field">
    <div class="col-sm-8">
      <div class="form-group">
          <%= form.submit class:"btn btn-success" %>
      </div>
    </div>
  </div>         
<% end %>
