<%= form_with(model: departamento, local: true) do |form| %>
  <% if departamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(departamento.errors.count, "error") %> prohibited this departamento from being saved:</h2>

      <ul>
        <% departamento.errors.full_messages.each do |message| %>
          <li><div class="alert alert-danger" role="alert"><%= message %></div></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :nome %>
        <%= form.text_field :nome %>
      </div>
    </div>  
  </div>  

  <div class="field">
    <div class="col-sm-8">
      <div class="form-group">
          <%= form.submit class:"btn btn-success" %>
      </div>
    </div>
  </div>         
<% end %>
