<div class="alert alert-success" role="alert">
    <p id="notice"><%= notice %></p>
</div>    

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Departamento</td>
            <td>Preço</td>
            <td>Quantidade</td>
        </tr>
    </thead>
    <tbody>
    <% @produtos_por_departamento.each do |produto| %>    
        <tr>
            <td><%= produto.nome %></td>
            <td><%= produto.descricao %></td>
            <td><%= produto.departamento.nome %></td>
            <td><%= produto.preco %></td>
            <td><%= produto.quantidade %></td>
        </tr>
    <% end %>    
    </tbody>
</table>


<div class="field">
    <div class="col-sm-8">
        <div class="form-group">
          <%= link_to 'Editar', edit_departamento_path(@departamento), class:"btn btn-primary" %>
        </div>
    </div>
</div>

<div class="field">
    <div class="col-sm-8">
        <div class="form-group">
            <%= link_to 'Voltar', departamentos_path, class:"btn btn-secondary" %>
        </div>
    </div>
</div>